//- https://www.youtube.com/watch?v=kt3cEjjkCZA
//- https://devhints.io/pug

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 K. Hyde's Song Collection
    include includes/nav
    block content

    script(src='http://localhost:3000/static/javascripts/actions.js')